* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-decoration: none;
}

.nav-container {
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.right-side, .left-side {
    list-style-type: none;
}

.right-side li, .left-side li{
    display: inline-block;
}

.right-side li a {
    padding: 15px 15px;
    margin: 2px 2px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: block;
}

.left-side li {
    margin-left: 2px;
    padding: 15px 15px;
    width: 100%;
    height: 100%;
    display: block;
}

.right-side li a:hover{
    background-color:cornflowerblue;
    color:aliceblue;
}


.circleimage {
    width:50%;
    height:50vh;
    vertical-align: top;
}

#profilepic {
    height: 70%;
    width: auto;
    border-radius: 50%;
    margin: 10% 30%;
    box-shadow: 10px 10px lightgray;
}

#bio {
    display:block;
    background-color: white;
    margin: 5% 10% 10% 25%;
    padding: 10px;
    width: auto;
    height: auto;
    box-shadow: 10px 10px lightgrey;
}

#aboutme-banner {
    margin-top: 53.5px;
    padding-top: 30px;
    padding-bottom: 15px;
    background-color:rgb(222, 222, 222);
}

.banner {
    width: 100%;
    text-align: center;
}

#aboutme {
    background-color:rgb(222, 222, 222);
    display:flex;
    align-items: center;
    justify-content: center;
}

.responsive-text {
    font-size: 2vmin;
}

#projects-banner {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color:darkgrey;
}

.sect-title {
    width: 20%;
    padding: 20px;
    background-color: white;
    box-shadow: 10px 10px lightgrey;
    margin: 0 auto;
    font-weight: bold;
    font-size: 2.5vmin;
}

#projects {
    background-color: darkgrey;
    text-align: center;
}

#projects p {
    padding: 20px 0;
}